.bodystyle {
    background-image: url("../images/driftBackground.jpg");
    height: 90%;
	width: 100%;
	opacity: 0.8;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	position: absolute;
	overflow: hidden;
}

.playstyle{	
	position: fixed; /*or前面的是absolute就可以用*/  
	bottom: 20px;
	margin:0 0;
}

.leftstyle{
	width:50%;
	float:left;
	margin:0 0;
	vertical-align: middle;
	text-align:center;
}

.middlestyle {
	width:50%;
	float:left;
	margin:0 0;
	vertical-align: middle;
	text-align:center;
}

img{
	vertical-align: middle;
	width:50%;
	height:50%;
}