.bodystyle {
    background-image: url("../images/driftBackground.jpg");
    height: 100%;
	width: 100%;
	opacity: 0.8;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	position: absolute;
	overflow: hidden;
}

.leftstyle{
	width:50%;
	float:left;
	vertical-align: middle;
	text-align:center;
	position: absolute;
	bottom: 30px;
}

.middlestyle {
	width:50%;
	float:right;
	vertical-align: middle;
	text-align:center;
	position: absolute;
	bottom: 30px;
	margin-left: 240px;
}

img{
	vertical-align: middle;
	width:50%;
	height:50%;
}