
body{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.bodystyle {
    background-image: url("../images/driftBackground.jpg");
	background-size:cover;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.leftstyle{
	width:50%;
	vertical-align: middle;
	text-align:center;
	position: absolute;
	bottom: 30px;
}

.middlestyle {
	width:50%;
	vertical-align: middle;
	text-align:center;
	position: absolute;
	bottom: 30px;
	margin-left: 50%;
}

img{
	vertical-align: middle;
	width:100px;
	height:100px;
}