body {
    background-image: url("../images/ocean.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.playstyle{	
	position: fixed; /*or前面的是absolute就可以用*/  
	bottom: 20px;
	margin:0 auto;
}

.leftstyle,.middlestyle,.rightstyle {
	width:33%;
	float:left;
	margin:0 auto;
	vertical-align: middle;
	text-align:center;
}

img{
	vertical-align: middle;
	width:50%;
	height:50%;
}