#midnightdinerBody{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.msgNoteFont{
	font-size: 16px;
}

.msgStyle{
	font-size: 14px;
	color:gray;
	padding-left:10px;
}

#addTag{
	color:black;
	margin: 8px;
}

.lhf_settings{
	width: 200px;
	background-color: white;
}

.zeroPaddingLeft{
	padding-left: 0px;
}

.zeroPaddingLeftRight{
	padding-left: 0;
	padding-right: 0;
}

.tipStyle{
	margin-top: 10px;
	font-size: 11px;
	text-align: center;
	color: gray;
}

#roomleft{
	background-image: url(../images/midnightdiner.jpg);
	background-size:cover;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#newDiningRoom{
	padding-top: 4px !important;
	padding-right: 7px !important;
	font-size: 37px !important;
}

#rooms{
	opacity: 0.8;
}

.room{
	padding: 5px 0px 5px;
}

.roomListTitleContent{
	margin-left: 15px;
}

.roomListTitleItem{
	padding: 5px;
}

#closedRoomItem,#createRoomItem,#openRoomItem,#recommendRoomItem{
	padding-top: 9px !important;
}

.roomListIcon{
	font-size: 30px !important;
	padding: 2px !important;
	border-style:solid;
	border-width: thin;
}

#msg{
	width:80%;
	padding: 4px;
	margin:3px 0 0px 3px;
	font-size:18px;
}

#sendMsg{
	margin: 3px 7px;
	padding: 3px 8px;
	font-size: 20px !important;
}


.imgpad{
	padding: 0;
}

.imgMsg{
	width: 40px;
	height: 40px;
}

/*图片气泡*/
.friLists {
	margin: 0 50px 0px 10px;
	position: relative;
	width:100%;
	float: left;
}

.friLists .headerImg {
	position: absolute;
	top: 5px;
}

.myLists {
	position: relative;
	margin: 0 10px 0px 50px;
	float: right;
	width:100%;
}

.myLists .headerImg {
	position: absolute;
	top: 5px;
	right: 0px;
}

/*气泡*/
.msgLeftWhite {/*他人的发言*/
	word-wrap:break-word;
	word-break:normal;
	max-width: 200px;
	background-color: #FFFFFF;
	font-size: 16px;
	color: black;
	display: inline-block;
	padding: 8px;
	position: relative;
	border-radius: 5px;
	float: left;
	margin:0px 10px 10px 40px;
}

.otherId{/*显示他人id的位置样式*/
	margin-left: 45px;
	color: #000000;
	font-size: 10px;
	margin-bottom: 0px;
}

.msgRightGreen {/*自己的发言*/
	word-wrap:break-word;
	word-break:normal;
	max-width: 200px;
	background-color: #a0e759;
	font-size: 16px;
	float: right;
	margin:0px 40px 10px 10px;
	color: black;
	display: inline-block;
	padding: 8px;
	position: relative;
	border-radius: 5px;
}

.myMsgWrapper{
	color: black;
	display: inline-block;
	padding: 12px;
	margin:0px;
	position: relative;
	float: right;
	border-radius: 5px;
}

.otherMsgWrapper{
	color: black;
	display: inline-block;
	padding: 0px 12px;
	margin:0px;
	position: relative;
	border-radius: 5px;
}


.red_point{
  position: relative;
}

.red_point::before{
  content: " ";
  border: 5px solid #C9394A;/*设置红色*/
  border-radius:5px;/*设置圆角*/
  position: absolute;
  z-index: 3000;
  right: 0%;
  margin-right: -10px;
  margin-top: 0px;
}


.titleLable{
	width:28%;
	display:inline-block;
}

.contentSpan{
	width: 72%;
}

.roomMsgBackground {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}